/*FILE UPLOAD CSS STARTS HERE*/


.file-upload-wrapper {
    position: relative;
    width: 100%;
    height: 40px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
}

.file-upload-wrapper:after {
    content: attr(data-text);
    font-size: 13px;
    position: absolute;
    top: 0;
    left: 0;
    background: #62a3ff !important;
    padding: 10px 8px;
    color: red;
    display: block;
    width: 100%;
    pointer-events: none;
    z-index: 20;
    height: 41px;
    line-height: 20px;
    color: #fff;
    border: 1px solid #62a3ff !important;
    border-radius: 2px !important;
    /* border-radius: 5px 10px 10px 5px; */
    font-weight: 300;
    cursor: pointer;
}

.file-upload-wrapper:before {
    content: 'Upload Image *';
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    border: 1px solid #62a3ff !important;
    height: 41px;
    background: #62a3ff;
    color: #fff;
    font-weight: 600;
    z-index: 25;
    font-size: 13px;
    line-height: 40px;
    padding: 0 20px;
    /*text-transform: uppercase;*/
    pointer-events: none;
    border-radius: 2px;
    cursor: pointer;
}


.file-upload-wrapper:hover:before {
    background: #62a3ff;
}

.file-upload-wrapper input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 40px;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
}





/*FILE UPLOAD CSS ENDS HERE*/
.cancelbtn{
    float: right;
    margin-right: 10px !important;
}
.floatright{
    float: right;
}
.pointer{
    cursor: pointer;
}
.warningicon{
    width: 15%;
}
.warningtext{
        text-align: center;
    font-size: 18px;
    margin-top: 15px;

}
.nopadding{
    padding: 0px !important;
}
.mb0{
    margin-bottom: 0px !important;
}
.chambertitle{
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}
.chamberheading{
    color: grey;
    font-weight: 600;
}
.tabs li.tab a.active {
    background: #62a3ff !important;
    color: #fff !important;
    font-weight: 900;
    text-transform: uppercase;
}
.tabs li.tab a {
    background-color: #ffffff;
    border: 1px solid #62a3ff;
    font-weight: 900;
    text-transform: uppercase;
}